.historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  h3 {
    font-size: 35px;
    padding-left: 500px;
    padding-right: 500px;
  }
  // img {
  //   height: 500px;
  // }
  svg {
    .ondasTexto {
      &:hover {
        fill: $red;
        cursor: pointer;
      }
    }
    circle {
      &:hover {
        fill: $red;
        cursor: pointer;
      }
    }
    g {
      &:hover {
        d: path(
          A 20,
          20 0,
          0,
          1 50,
          30 A 20,
          20 0,
          0,
          1 90,
          30 Q 90,
          60 50,
          90 Q 10,
          60 10,
          30 z
        );
      }
    }
  }
}
/*-------BREAKPOINT: 1280PX--------*/

@media screen and (max-width: 1280px) {
  .historia {
    h3 {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
}

/*-------BREAKPOINT: 1024PX--------*/

@media screen and (max-width: 1024px) {
  .historia {
    h3 {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
/*-------BREAKPOINT: 768PX--------*/

@media screen and (max-width: 768px) {
}

/*-------BREAKPOINT: 668PX--------*/

@media screen and (max-width: 668px) {
  .historia {
    h3 {
      padding-left: 50px;
      padding-right: 50px;
    }
    img {
      height: 400px;
    }
  }
}

/*-------BREAKPOINT: 576PX--------*/

@media screen and (max-width: 576px) {
  .historia {
    h3 {
      padding-left: 10px;
      padding-right: 10px;
    }
    img {
      height: 350px;
    }
  }
}

/*-------BREAKPOINT: 480PX--------*/

@media screen and (max-width: 480px) {
  .historia {
    h3 {
      font-size: 25px;
    }
    img {
      height: 300px;
    }
  }
}

/*-------BREAKPOINT: 380PX--------*/

@media screen and (max-width: 380px) {
  .historia {
    h3 {
      font-size: 20px;
    }
    img {
      height: 250px;
    }
  }
}

/*-------BREAKPOINT: 320PX--------*/

@media screen and (max-width: 320px) {
  .historia {
    img {
      height: 200px;
    }
  }
}
