
.historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  h3 {
    font-size: 35px;
    padding-left: 500px;
    padding-right: 500px;
  }
  img {
    height: 500px;
  }
}

.logros {
  h2 {
    font-size: 35px;
  }
  &__line {
    display: flex;
    justify-content: center;
    div {
      width: 1px;
      background-color: $grey2;
      height: 100px;
      margin: 30px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 80px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    &--clientes {
      translate: -130px 0;
    }
    &--materiales {
      translate: 190px 0;
    }
    &--campanias {
      translate: -190px 0;
    }
    &--paises {
      translate: 80px 0;
    }
    &--entrevistas {
      translate: -270px 0;
    }
  }
}

/*-------BREAKPOINT: 1280PX--------*/

@media screen and (max-width: 1280px) {
  .historia {
    h3 {
      padding-left: 200px;
      padding-right: 200px;
    }
  }
  .logros {
    &__items {
      translate: 50px;
    }
  }
}

/*-------BREAKPOINT: 1024PX--------*/

@media screen and (max-width: 1024px) {
  .historia {
    h3 {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  .logros {
    &__items {
      translate: 30px;
    }
  }
}

/*-------BREAKPOINT: 768PX--------*/

@media screen and (max-width: 768px) {
  .logros {
    &__line {
      div {
        height: 50px;
      }
    }
    &__items {
      translate: 10px;
      img {
        height: 70px;
      }
      &--materiales {
        translate: 120px;
      }
      &--campanias {
        translate: -110px 0;
      }
    }
  }
}

/*-------BREAKPOINT: 668PX--------*/

@media screen and (max-width: 668px) {
  .historia {
    h3 {
      padding-left: 50px;
      padding-right: 50px;
    }
    img {
      height: 400px;
    }
  }
  .logros {
    &__items {
      img {
        height: 60px;
      }
      &--materiales {
        translate: 100px;
      }
      &--campanias {
        translate: -100px 0;
      }
    }
  }
}

/*-------BREAKPOINT: 576PX--------*/

@media screen and (max-width: 576px) {
  .historia {
    h3 {
      padding-left: 10px;
      padding-right: 10px;
    }
    img {
      height: 350px;
    }
  }
  .logros {
    &__items {
      img {
        height: 60px;
      }
      &--materiales {
        translate: 60px;
      }
      &--campanias {
        translate: -60px 0;
      }
      &--paises {
        translate: 60px 0;
      }
    }
  }
}

/*-------BREAKPOINT: 480PX--------*/

@media screen and (max-width: 480px) {
  .historia {
    h3 {
      font-size: 25px;
    }
    img {
      height: 300px;
    }
  }
  .logros {
    h2{
      font-size: 30px;
    }
    &__items {
      img {
        height: 50px;
      }
      &--materiales {
        translate: 50px;
      }
      &--paises {
        translate: 50px 0;
      }
      &--entrevistas {
        translate: -60px 0;
      }
    }
  }
}

/*-------BREAKPOINT: 380PX--------*/

@media screen and (max-width: 380px) {
  .historia {
    h3 {
      font-size: 20px;
    }
    img {
      height: 250px;
    }
  }
  .logros {
    h2{
      font-size: 24px;
    }
    &__line{
      div{
        margin: 20px;
      }
    }
    &__items {
      img {
        height: 50px;
      }
      &--clientes {
        translate: -50px;
      }
      &--materiales {
        translate: 0px;
      }
      &--paises {
        translate: 50px;
      }
      &--entrevistas {
        translate: -60px;
      }
    }
  }
}

/*-------BREAKPOINT: 320PX--------*/

@media screen and (max-width: 320px) {
  .historia {
    img {
      height: 200px;
    }
  }
  .logros {
    &__items {
      img {
        height: 40px;
      }
      &--clientes {
        translate: -50px;
      }
      &--materiales {
        translate: 50px;
      }
      &--paises {
        translate: 50px;
      }
      &--entrevistas {
        translate: -60px;
      }
    }
  }
}
