.header {
  height: 1000px;
  background-image: url("../../assets/img/bocas.png");
  background-image: no-repeat;
  background-image: fixed;
  background-image: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.historia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  h3 {
    font-size: 35px;
    padding-left: 500px;
    padding-right: 500px;
  }
  img {
    height: 500px;
  }
}

.logros {
  h2{
    font-size: 35px;
  }
  &__line {
    display: flex;
    justify-content: center;
    div {
      width: 1px;
      background-color: $grey2;
      height: 100px;
      margin: 30px;
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 80px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    &--clientes {
      translate: -130px 0;
    }
    &--materiales {
      translate: 190px 0;
    }
    &--campanias {
      translate: -190px 0;
    }
    &--paises {
      translate: 80px 0;
    }
    &--entrevistas {
      translate: -270px 0;
    }
  }
}
