.logrosContainer {
  .logrosAnimate {
    h2 {
      font-size: 35px;
      text-align: center;
    }
    &__line {
      display: flex;
      justify-content: center;
      div {
        width: 1px;
        background-color: $grey2;
        height: 70px;
        margin: 30px;
      }
    }
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .item {
        opacity: 0;
        padding: 0 30px;
        background-position: center;
        background-position: center center;
        background-position: 50%;
        background-position: 50% 50%;
        background-position: center 50%;
        background-position: 50% center;
        color: $white;
        font-size: 30px;
        display: flex;
        align-items: center;
        height: 80px;
        margin-bottom: 20px;
        cursor: pointer;
      }
      &--clientes {
        width: 700px;
        justify-content: right;
        translate: -1200px 0;
        background-image: url("../../assets/img/bg_200clientes.png");
      }
      &--materiales {
        width: 800px;
        justify-content: left;
        translate: 1200px 0;
        background-image: url("../../assets/img/bg_materiales.png");
      }
      &--campanias {
        width: 850px;
        justify-content: right;
        translate: -1200px 0;
        background-image: url("../../assets/img/bg_campanias.png");
      }
      &--paises {
        width: 800px;
        translate: 1200px 0;
        background-image: url("../../assets/img/bg_paises.png");
      }
      &--entrevistas {
        width: 800px;
        justify-content: right;
        translate: -1200px 0;
        background-image: url("../../assets/img/bg_entrevistas.png");
      }
    }
  }
  .logros {
    display: none;
    h2 {
      font-size: 35px;
      text-align: center;
    }
    &__line {
      display: flex;
      justify-content: center;
      div {
        width: 1px;
        background-color: $grey2;
        height: 70px;
        margin: 30px;
      }
    }
    &__items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .item {
        padding: 0 30px;
        background-position: center;
        background-position: center center;
        background-position: 50%;
        background-position: 50% 50%;
        background-position: center 50%;
        background-position: 50% center;
        color: $white;
        font-size: 30px;
        display: flex;
        align-items: center;
        height: 80px;
        margin-bottom: 20px;
        cursor: pointer;
      }
      &--clientes {
        width: 700px;
        justify-content: right;
        translate: -200px 0;
        background-image: url("../../assets/img/bg_200clientes.png");
      }
      &--materiales {
        width: 800px;
        justify-content: left;
        translate: 365px 0;
        background-image: url("../../assets/img/bg_materiales.png");
      }
      &--campanias {
        width: 850px;
        justify-content: right;
        translate: -213px 0;
        background-image: url("../../assets/img/bg_campanias.png");
      }
      &--paises {
        width: 800px;
        translate: 180px 0;
        background-image: url("../../assets/img/bg_paises.png");
      }
      &--entrevistas {
        width: 800px;
        justify-content: right;
        translate: -370px 0;
        background-image: url("../../assets/img/bg_entrevistas.png");
      }
    }
  }
}

/*-------BREAKPOINT: 1280PX--------*/

@media screen and (max-width: 1280px) {
  .logrosContainer {
    .logrosAnimate {
      display: none;
    }
    .logros{
      display: block;
    }
  }
}

/*-------BREAKPOINT: 1024PX--------*/

@media screen and (max-width: 1024px) {
}

/*--------BREAKPOINT: 992PX---------*/
@media screen and (max-width: 992px) {
  
}

/*-------BREAKPOINT: 768PX--------*/

@media screen and (max-width: 768px) {
  .logrosContainer{
    .logros{
      &__items{
        &--clientes{
          translate: -100px 0;
        }
        &--materiales{
          width: 600px;
          translate: 100px 0;
        }
        &--entrevistas {
          width: 800px;
          translate: -150px 0;
        }
      }
    }
  }
}

/*-------BREAKPOINT: 668PX--------*/

@media screen and (max-width: 668px) {
  .logros {
    &__items {
      img {
        height: 60px;
      }
      &--materiales {
        translate: 100px;
      }
      &--campanias {
        translate: -100px 0;
      }
    }
  }
}

/*-------BREAKPOINT: 576PX--------*/

@media screen and (max-width: 576px) {
  .logros {
    &__items {
      img {
        height: 60px;
      }
      &--materiales {
        translate: 60px;
      }
      &--campanias {
        translate: -60px 0;
      }
      &--paises {
        translate: 60px 0;
      }
    }
  }
}

/*-------BREAKPOINT: 480PX--------*/

@media screen and (max-width: 480px) {
  .logrosContainer{
    .logros{
      &__items{
        .item{
          font-size: 26px;
        }
        &--clientes{
          width: 400px;
          translate: -50px 0;
        }
        &--materiales{
          width: 550px;
          translate: 60px 0;
        }
        &--entrevistas {
          width: 800px;
          translate: -250px 0;
        }
      }
    }
  }
}

/*-------BREAKPOINT: 380PX--------*/

@media screen and (max-width: 380px) {
  .logrosContainer{
    .logros{
      &__line{
        div{
          height: 50px;
        }
      }
      &__items{
        .item{
          font-size: 18px;
          justify-content: center;
          translate: 0;
        }
        &--clientes{
          width: 400px;
          justify-content: center;
          translate: 0;
        }
        &--materiales{
          width: 550px;
          justify-content: center;
          translate: 0;
        }
        &--paises {
          width: 550px;
          justify-content: center;
          translate: 0;
        }
        &--entrevistas {
          width: 800px;
          justify-content: center;
          translate: 0;
        }
      }
    }
  }
}

/*-------BREAKPOINT: 320PX--------*/

@media screen and (max-width: 320px) {
}
