.sidebar{
    // position: absolute;
    display: flex;
    justify-content: left;
    align-items:center;
    &__itemsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-left: 50px   ;
        &--links{
            translate: -57px 0;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                li{
                    margin-bottom: 15px;
                    list-style: none;
                    a{
                        color: $black;
                        font-family: $futura;
                        font-size: 25px;
                        text-align: left;
                        &:hover{
                            color: $red;
                        }
                    }
                }
                .inactive{
                    a{
                        color: $grey1;
                        &:hover{
                            color: $grey1;
                            cursor:not-allowed;
                        }
                    }
                }
            }
        }
        &--cotiza{
            // padding: 0 50px 0 50px;
            height: 80px;
            width: 420px;
            background-color: $red;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                margin-left: 100px;
            }
            .link{
                color: $white;
                border-right: solid 2px $white;
                padding-right: 35px;
                font-size: 20px;
                translate: 0px 0;
            }
            img{
                height: 20px;
                translate: -20px 0;
            }
        }

        &--social{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                height: 40px;
                margin-right: 10px;
            }
        }
    }
}
@media screen and (max-width: 1280px){
    .sidebar{
        &__itemsContainer{
            &--cotiza{
                width: 350px;
                a{
                    margin-left: 70px;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .sidebar{
        display: none;
    }
}