.sidebar{
    // position: absolute;
    display: flex;
    justify-content: left;
    align-items:center;
    &__itemsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-left: 50px   ;
        &--links{
            ul{
                li{
                    margin-bottom: 8px;
                    a{
                        color: $black;
                        font-family: $futura;
                        font-size: 25px;
                        text-align: left;
                    }
                }
            }
        }
        &--cotiza{
            height: 80px;
            width: 260px;
            background-color: $red;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a, img{
                margin-right: 20px;
            }
            .link{
                color: $white;
                border-right: solid 2px $white;
                padding-right: 35px;
                font-size: 20px;
                translate: 10px 0;
            }
            img{
                height: 20px;
                translate: 10px 0;
            }
        }

        &--social{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                height: 40px;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    .sidebar{
        display: none;
    }
}