.sidetoolbar{
    position: absolute;
    // background-color: #222f3e;
    background-color: $red;
    color: #fff;
    top: 0;
    right: 0;
    height: 100vh;
    width: 280px;
    transform: translateX(100%);
    transition: all 0.4s; 
    li{
        list-style: none;
        padding: 1rem 2rem;
        border-bottom: solid rgba(255, 255, 255, 0.1) 1px;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: 300;
        &:hover{
            background-color: #fff;
            color: #000;
        }
    }
    &--open{
        transform: translateX(0%);
    }
}