.floatingBtn{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 20px;
    right: 20px;
    #floatingBtn__chk{
        display: none;
        &:checked~ .floatingBtn__tolkobot .tolkobotEs,
        &:checked~ .floatingBtn__tolkobot .tolkobotEn
        {
            margin-bottom: 10px;
            opacity: 1;
            visibility: visible;
        }
    }
    &__tolkobot{
        .tolkobotEs,
        .tolkobotEn
        {
            display: block;
            opacity: 0;
            visibility: hidden;
            z-index: 200;
        }
    }
    &__trigger{
        label{
            img{
                cursor: pointer;
            }
        }
    }
}