.preloader {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -1px;
  z-index: 99;
  &__iconLight,
  &__iconDark {
    height: 100px;
  }
  h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px){
    .preloader{
        display: none;
    }
}
