* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: $futura;
}
body {
  &.light {
    background-color: $white;
    color: $black;
    .header{
      &__scroll{
        &--iconLight{
          display: block;
        }
        &--iconDark{
          display: none;
        }
      }
    }
    .toolbar {
      &__logo {
        .imgLight {
          display: block;
        }
        .imgDark {
          display: none;
        }
      }
      &__burger {
        &--changeOptions {
          #darkMode {
            .imgLight {
              display: block;
            }
            .imgDark {
              display: none;
            }
          }
        }
      }
    }
    select {
      color: $black;
    }
    .sidebar {
      color: $black;
      &__itemsContainer {
        &--social {
          .imgLight {
            display: block;
          }
          .imgDark {
            display: none;
          }
        }
      }
    }
  }
  &.dark {
    background-color: #1d1d1d;
    color: $white;
    .header{
      &__scroll{
        &--iconLight{
          display: none;
        }
        &--iconDark{
          display: block;
        }
      }
      &__animate{
        p{
          background-color: $grey3;
        }
      }
    }
    .toolbar {
      &__logo {
        .imgLight {
          display: none;
        }
        .imgDark {
          display: block;
        }
      }
      &__burger {
        &--changeOptions {
          #darkMode {
            .imgLight {
              display: none;
            }
            .imgDark {
              display: block;
            }
          }
        }
      }
    }
    select {
      color: $white;
    }
    .sidebar {
      &__itemsContainer {
        &--links {
          ul {
            li {
              a {
                color: $white;
              }
            }
          }
        }
        &--social {
          .imgLight {
            display: none;
          }
          .imgDark {
            display: block;
          }
        }
      }
    }
    footer {
      background-color: $grey3;
    }
  }
}

.contentContainer {
  width: 100%;
}
